//boje
$narandzasta: #f77d17;
$svetla: #EAEAEA;
$tamna: #151515;

//gradienti
$tamni-gradient: linear-gradient(to bottom, #202020, #000000);
$svetli-gradient: linear-gradient(to bottom, #fefefe, #cbcbcb);
$narandzasti-gradient: linear-gradient(to bottom, #ffb82d, #f77d17);

// transition
$trisek: all 0.3s ease-in-out;

// fluid margina
$fluid-margina: 0 2%;

// cursor
$cursor-p: pointer;