.header {
    @include breakpoint($tablet) {
        background-image: $svetli-gradient;
    }
}

// -- mod-GORNJI MENI
.gornji-meni {
    background-image: url(../img/header-bg.png);
    background-position: 180px top;
    background-repeat: no-repeat;
    position: relative;
    min-height: 55px;
    height: auto;
    @include breakpoint($tablet) {
        background-image: none;
    }
}

.o-s-link {
    display: none;
    cursor: $cursor-p;
    @include breakpoint($tablet) {
        display: inline-block;
        // padding-top: 3px;
        margin-left: 280px;
        height: auto;
        // min-height: 25px;
    }
    span:before {
        content: "+";
        margin-left: 7px;
        color: $narandzasta;
    }
}

.o-s-link.open {
    color: $svetla;
    span:before {
        content: "-";
    }
}

.ostali-sajtovi {
    background-color: $svetla;
    z-index: 600;
    // list-style-type: none;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    a {
        width: 100%;
        display: block;
    }
}

.o-s-link.open .ostali-sajtovi {
    display: block;
    opacity: 1;
}

.gornji-meni .down {
    cursor: $cursor-p;
    margin-top: 25px;
}

.close .flipper,
.close .flipper {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    width: 24px;
    height: 24px;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    z-index: -1;
    transform: rotateY(180deg);
}

.close .back {
    transform: rotateY(180deg);
}

.close .front {
    transform: rotateY(0deg);
}

.gornji-meni-full {
    @include breakpoint($tablet) {
        background-color: $tamna;
    }
}

.gornji-submeni {
    @extend %meni;
    @extend %skriveni-meni;
    transition: 0.5s ease-in-out;
    height: 0;
    background-color: $tamna;
    @include breakpoint($tablet) {
        opacity: 1;
        background-color: transparent;
        height: auto;
        padding-right: 1rem;
    }
    @include breakpoint($large) {
        padding-right: 2rem;
    }
    li {
        height: 0px;
        overflow: hidden;
        display: block;
        transition: 0.5s ease-in-out;
        border-bottom: 1px solid $svetla;
        padding-top: 3px;
        @include breakpoint($tablet) {
            float: right;
            padding-right: 0.9rem;
            height: auto;
            display: inline-block;
            border-bottom: none;
        }
        a {
            height: 0%;
        }
    }
    &.open {
        opacity: 1;
        height: 150px;
        li {
            transition: 0.5s;
            height: 30px;
            a {
                display: block;
                height: auto;
            }
        }
    }
}

.header-content {
    @include breakpoint($tablet) {
        background-image: url(../img/header-bg.png);
        background-repeat: no-repeat;
        background-position: 275px;
        @include breakpoint($large) {
            background-position: right;
        }
    }
}

.tel-chat-wide {
    div a {
        background-repeat: no-repeat;
        background-size: 20px;
        padding-left: 25px;
    }
    .mob a {
        background-image: url(../img/mob.png);
        &:hover {
            background-image: url(../img/mob-light.png);
        }
    }
    .mail a {
        background-image: url(../img/mail.png);
        &:hover {
            background-image: url(../img/mail-light.png);
        }
    }
    .chat a {
        background-image: url(../img/chat.png);
        &:hover {
            background-image: url(../img/chat-light.png);
        }
    }
}

// mod-GLAVNI MENI
.meni-wrapper {
    height: 44px;
    background-color: $tamna;
    box-shadow: 0px 16px 15px 1px rgba(0, 0, 0, 0.4);
    // border-top: 1px solid $tamna;
    @include breakpoint($tablet) {
        // box-shadow: none;
        // background: $tamna;
        height: auto;
        // border: none;
    }
}

.glavni-meni {
    @extend %meni;
    @extend %skriveni-meni;
    width: 100%;
    // background: $tamna;
    display: block;
    z-index: 200;
    transition: all 0.4s cubic-bezier(1, -0.02, 1, 0.76);
    @include breakpoint($tablet) {
        position: relative;
        overflow: visible;
        opacity: 1;
        @include center(900px);
        width: auto;
    }
    @include breakpoint($large) {
        max-width: 1200px;
    }
}

.big-meni {
    background: $svetli-gradient;
    box-shadow: 0px 11px 10px 1px rgba(0, 0, 0, 0.4);
    transform: translateY(-20px);
    opacity: 0;
    transition: $trisek;
    height: 0;
    overflow: hidden;
    z-index: -100;
    border-bottom: 2px solid $narandzasta;
    ul {
        padding-left: 15px;
    }
    li {
        @extend %symbol-list;
        a {
            text-transform: none;
            background-repeat: no-repeat;
            background-position: 0 5px;
        }
        &:hover {
            background-image: url(../img/big-meni-bullet-beli.png);
            @include breakpoint($tablet) {
                background-image: url(../img/big-meni-bullet-oranz.png);
            }
        }
    }
}

li.open .big-meni {
    height: auto;
    opacity: 1;
    display: block;
    color: $tamna;
    z-index: 150;
    background: transparent;
    box-shadow: none;
    transform: translateY(0);
    border-top: 1px solid $tamna;
    .meni-slika {
        display: none;
    }
}

.meni-slika {
    transition: $trisek;
    &:hover {
        filter: contrast(140%) saturate(180%);
    }
}

.glavni-meni > li {
    border-bottom: 1px solid $narandzasta;
    display: block;
    height: 35px;
    padding-top: 6px;
    transition: $trisek;
    background-color: $tamna;
    &:hover {
        background-color: $narandzasta;
    }
    .meni-down {
        cursor: pointer;
        float: right;
        margin-right: 20px;
        // display: block;
        width: 20px;
        height: 20px;
        padding-top: 10px;
        background-image: url(../img/down-svetla.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        z-index: 160;
        @include breakpoint($tablet) {
            display: none;
            height: 0;
        }
    }
    &.open {
        background-color: $narandzasta;
        height: auto;
        li:hover a {
            color: $svetla;
        }
        a {
            padding-bottom: 5px;
            display: inline-block;
        }
        span {
            content: "-";
            background-image: url(../img/up-svetla.png);
        }
    }
    @include breakpoint($tablet) {
        &.active {
            border-bottom: 2px solid $narandzasta;
        }
        float: left;
        display: inline-block;
        border-bottom: none;
        padding: 0.47%;
        a {
            line-height: 25px;
        }
        &:hover {
            background-color: $narandzasta;
        }
    }
    @include breakpoint($large) {
        padding: 6px 1.46%;
        a {
            line-height: 23px;
        }
    }
}

@include breakpoint($tablet) {
    .glavni-meni > li:hover > a {
        color: $svetla;
    }
}

@include breakpoint($tablet) {
    .glavni-meni li:hover .big-meni {
        display: block;
        opacity: 1;
        transform: translateY(0px);
        height: auto;
        padding: 10px;
    }
}

.glavni-meni.open {
    position: relative;
    // min-height: 281px;
    height: auto;
    max-height: 900%;
    // max-height: 620px;
    overflow-y: scroll;
    width: 100%;
    opacity: 1;
    transition: all .5s cubic-bezier(0.14, 1.02, 0.65, 1.06);
    border-top: 1px solid $narandzasta;
}

.meni-icon {
    position: relative;
    float: left;
    left: 10px;
    top: 10px;
    width: 35px;
    height: 30px;
    transition-duration: 0.5s;
    transform: rotate(0deg);
    cursor: $cursor-p;
    display: block;
    @include breakpoint($tablet) {
        display: none;
    }
}

.meni-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $svetla;
    border-radius: 6px;
    transform: rotate(0deg);
    transition-duration: 0.15s;
    &:nth-child(1) {
        transform-origin: left center;
        top: 0px;
    }
    &:nth-child(2) {
        transform-origin: left center;
        top: 10px;
    }
    &:nth-child(3) {
        transform-origin: left center;
        top: 20px;
    }
}

.meni-icon.close span {
    &:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
    }
    &:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    &:nth-child(3) {
        transform: rotate(-45deg);
        top: 22px;
        left: 8px;
    }
}

// -- IKONICE
.ikonice {
    float: right;
    height: 100%;
    margin-right: 15px;
    img {
        padding: 10px 0 10px 15px;
        margin-left: 10px;
        height: 100%;
    }
    @include breakpoint ($tablet) {
        display: none;
    }
}

.meni-grupa ul li {
    display: block;
    margin: 4px 0;
    a {
        line-height: 25px;
    }
}
